.friendsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.itemFriends{
    max-width: 150px;
    max-height: 300px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    color: #bbbbbb;
    background-color: rgb(13, 13, 13);
    border:  1px solid tomato ;
    border-radius: 30px;
}
.friendsContainer img {
    width: 100%;
    height: 100%;
    border: snow 1px solid;
    border-radius: 50%;
}
.friendsContainer span {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}