
.container__paginator {
    width: 100%;
    max-height: 300px;
    padding: 30px 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.pageNumber {
    cursor: pointer;
    padding: 5px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    color:#ff0000;
}

