.friendsContainer{
    max-width: 1080px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    color: #bbbbbb;
}

.colorText{
    color: black;
    position: absolute;
    width: 50%;
    margin-top: -15px;
    cursor: pointer;
    overflow: auto;
}
.activ__span{color: tomato;}


.friendsContainer__eUser{
    background-color: rgba(13,13,13);
    width: 100%;
    max-height: 50vh;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 30px;
    padding: 5px;
}
.eUser__ava {
    min-width: 90px;
    min-height: 90px;
    max-width: 300px;
    max-height: 500px;

}
.eUser__ava img{
    display: block;
    width: 75px;
    height: 75px;
    margin: 5px;
}
.eUser__ava input {
    background-color: #bbbbbb;
    color: rgba(13,13,13);
    margin: 5px;
    display: block;
    width: 75px;
}
.eUser__description {
    max-width: 100%;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr;
    color: #bbbbbb;
    grid-template-areas: 
    "nameUsers locationUsers"
    "status status"
}
.description__location span {

    text-align: right;
}
.description__status{
    grid-area: status;
}
.description__nameAndStatus{
    font-size: 15px;
    color: #bbbbbb;
    grid-area: nameUsers;
}
.description__location {
    font-size: 15px;
    color: #bbbbbb;
    grid-area: locationUsers;
    width: 50%; 
    height: 100%;
    justify-self:stretch;
}

.description__name{
display: block;
}


/* .itemFriends{
    max-width: 150px;
    max-height: 300px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    color: #bbbbbb;
    background-color: rgb(13, 13, 13);
    border:  1px solid tomato ;
    border-radius: 30px;
} */
.friendsContainer img {
    max-width: 100%;
    max-height: 100%;
    border: tomato 3px solid;
    border-radius: 50%;
}
/* .friendsContainer span {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
} */