.boxContact{
    display: flex;
    flex-wrap: nowrap;
    color: rgb(13, 13, 13);
}
.boxInfo{
    border-right: solid rgb(13, 13, 13) 3px;
    max-width: 25vw;
    min-width: 110px;
}

.propsName>span>a {
    text-decoration: none;
    color: rgb(13, 13, 13);
    font-style: italic;
    font-weight: bold;
    font-size: 19px;
    display: block;
    margin: 15px 5px;
}
.dialog{
    display: flex;
    max-height: 25vh;
    max-width: 40vw;
    border: #bbbbbb 1px solid;
    border-radius: 9px;
    background-color: rgb(13, 13, 13);
    color: #bbbbbb;
    padding: 13px;
    margin: 50px 0 30px 15px;
    overflow: hidden;
    word-wrap: wrap;
}
.dialog>img {
    margin-right: 5px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
}
.boxNewMessage{
    max-height: 25vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.textariaMessages{
    max-width: 30vw;
    border: #bbbbbb 1px solid;
    border-radius: 9px;
    background-color: rgb(13, 13, 13);
    color: #bbbbbb;
    padding: 13px;
    margin: 0 0 0 15px;
    word-wrap: wrap;
}

.propsName>span>a.active {
    color: rgb(163, 12, 12);
}

