header {
    background-color: rgb(13, 13, 13);
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: #bbbbbb;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }
.header__login{
    text-decoration: none;
    color: #bbbbbb;
    font-size: 15px;
    margin: 30px;
}

@media screen and (max-width: 750px) {
    header  {
        display: none;
    }
} 
 