.header {
    height: 100%;
    background-image: url(../../assets/images/1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(13, 13, 13);
    color: #bbbbbb;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.loginBlock{
    margin-right: 15px;
}
.loginBlock a {
    color: #bbbbbb;
}

@media screen and (max-width: 750px) {

    .header { background-image: none; }
}