.nav {
    position: fixed;
    top: 0;
    font-size: 19px;
    background-color: rgb(13,13,13);
    padding: 20px;
    margin-top: 35px;
}
.item{margin: 15px 0;}
.item a {
    color: #bbbbbb;
    text-decoration: none;
}
.item a.activeLink {
    color:#D1BC8A;
}

@media screen and (max-width: 750px) {
    .nav { display: none; }
}