.formControl.error input,
.formControl.error textarea
 {
    border: solid 2px tomato;
}

.textariaProfile {
    width: 50vw;
    border-radius: 9px;
    background-color: rgb(13, 13, 13);
    color: #bbbbbb;
    padding: 13px;
    word-wrap: wrap;
}

.checked{
    color: #bbbbbb;
    cursor: pointer;
}
/* 
.formError {
    border: solid 2px tomato;
    color: tomato;
} */
