.app-wrapper {
    overflow-x:hidden;
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 100px 1fr;
    grid-template-columns: minmax(165px, 170px) 10fr;
}
.header{
    grid-area: h;
}
.navBar {
    grid-area: n;
    z-index: 1000;
}
.app-wrapper-content {
    border-radius: 15px;
    min-height: 100vh;
    height: 100%;
    max-width: 100%;
    grid-area: c;
    background-image: url(./assets/images/2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #6b311a ;
    color: #bbbbbb;
}
.submit, .submit__75px{
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #d28837;
    color: #bbbbbb;
    border-radius: 7px;
    cursor: pointer;
}
.submit__75px{
    width: 75px;
    padding: 5px;
    font-size: 15px;
}
.margin__top30{margin-top: 30px;}
.margin30{margin-left: 30px;}
.display__flex{display: flex;justify-content: flex-start;align-items: center;}
.border__topAndBot{border-top: 1px #e7c040 solid;border-bottom: 1px #e7c040 solid ;}
.linkContent{text-decoration: none; color: #bbbbbb; cursor: pointer;}
.captchaImg{margin: 10px 0 10px 30px; border: red 1px solid;}

@media screen and (max-width: 750px) {
    .app-wrapper{grid-template-areas: "n h" "c c"; grid-template-rows: 70px 1fr;     grid-template-columns: 1fr 10fr;}
    .app-wrapper-content{background-image: none;}
}