.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-areas: "n h" "n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1fr 5fr;
}
.header{
    grid-area: h;
}
.navBar {
    grid-area: n;
}
.app-wrapper-content {
    border-radius: 15px;
    min-height: 100vh;
    height: 100%;
    max-width: 100%;
    grid-area: c;
    background-color: #bbbbbb;
    color: rgb(13, 13, 13);
}
.submit{
        background-color: rgb(13, 13, 13);
        color: #bbbbbb;
        border-radius: 7px;
        cursor: pointer;
}

@media screen and (max-width: 750px) {
    .app-wrapper{grid-template-areas: "n h" "c c";}
}